<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review System - <%= user.name %></title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    
    <!-- styles -->
    <link rel="stylesheet" href="/css/userHome.css">
</head>
<body>
    <h1 class="title">Welcome <%= user.name %></h1>
    <p class="title1">Here are some books you may like: </p>
    <div class="container">
        <div class="card">
          <div class="box">
            <div class="content">
              <a href="/users/<%= user._id %>/home/book/1">
                  <img src="/images/book1.jpg" alt="book1">
                  <p>Rating:</p>
                  <p><%= books[0].rating %>/5</p>
              </a>
              
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="box">
            <div class="content">
              <a href="/users/<%= user._id %>/home/book/2">
                <img src="/images/book2.jpg" alt="book2">
                <p>Rating:</p>
                <p><%= books[1].rating %>/5</p>
              </a>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="box">
            <div class="content">
              <a href="/users/<%= user._id %>/home/book/3">
                <img src="/images/book3.jpg" alt="book3">
                <p>Rating:</p>
                <p><%= books[2].rating %>/5</p>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="box">
              <div class="content">
                <a href="/users/<%= user._id %>/home/book/4">
                  <img src="/images/book4.jpeg" alt="book4">
                  <p>Rating:</p>
                  <p><%= books[3].rating %>/5</p>
                </a>
              </div>
            </div>
        </div>
    </div>
</body>
</html>